<br><br>
<div style="padding-bottom: 15px">
  <h2 style="text-align: center">Gestion de Eventos y Medicamentos</h2>
</div>
<br>
<div>
  <div style="float: left; width: 30%; padding-right: 20px">
    <ul>
      <div style="padding-bottom: 30px">
        <a routerLink="EventoMedicamento">
          <button>Evento con Medicamentos</button>
        </a>
      </div>


      <a routerLink="AgregarEventoMedicamento">
        <button>Agregar Evento y Medicamento</button>
      </a>
    </ul>
  </div>
  <div style="float: left; width: 70%">
    <router-outlet></router-outlet>
  </div>
</div>
